<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clinic_System.Properties.Settings.TestConnectionString"
            connectionString="Data Source=HOSSAM_LAPTOP\SQLEXPRESS;Initial Catalog=Test;User ID=sa;Password=rude"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>